<%= turbo_frame_tag dom_id(cart_item) do %>
  <div class="flex border-b items-center">
    <p class="flex-auto py-4 px-2"><%= cart_item.menu_item.name %></p>
    <p class="mr-2 py-4"><%= number_to_currency(cart_item.menu_item.price) %></p>
    <%= button_to cart_cart_item_path(@cart, cart_item), method: :delete, class: "text-red-600 py-4 pr-2 hover:text-red-900" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    <% end %>
  </div>
<% end %>
